.city {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cityPNG {
  width: 90px;
  height: auto;
}


@media screen and (max-width: 500px) {

  .city {
    height: 90px;
  }

  .cityPNG {
    width: 70px;
    height: auto;
  }

}