.navigation {
  width: 200px;
  height: 100vh;
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation p {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  transition: all .1s;
  color: #000;
}
.navigation p:hover {
  color: #fff;
}
.yellow p:hover {
  background-color: #fec603;
}
.green p:hover {
  background-color: #a8f387;
}
.red p:hover {
  background-color: #EA1A7F;
}
.purple p:hover {
  background-color: #af87ce;
}
.blue p:hover {
  background-color: #16d6fa;
}