.navigation {
  width: 200px;
  height: 100vh;
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation p {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  border-radius: 20px;
  transition: all .1s;
  color: #000;
}
.navigation p:hover {
  background-color: #EA1A7F;
  color: #fff;
}