.infoContainer {
  width: 800px;
}


@media screen and (max-width: 850px) {

  .infoContainer {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {

  .infoContainer {
    width: 200px;
  }

}

@media screen and (max-height: 400px) {
  .sectaion {
    margin-top: 50px;
  }
}