.leftNav {
  display: inline-block;
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .leftNav {
    display: none;
  }
}
