
.logoHolder {
  grid-column: 1/2;
  margin-right: 20px;
  position: relative;
  width: 500px;
  height: 470px;
}

.circle {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  color: rgba(250,250,250);
}



.yellow {
  top: 195px;
  left: 81px;
  height: 285px;
  width: 285px;
  background-color: #fec603;
  z-index: 10;
}


.red {
  top: 28px;
  left: 150px;
  height: 335px;
  width: 335px;
  background-color: #EA1A7F;
  z-index: 9;
}

.green {
  top: 155px;
  left: 0;
  height: 217px;
  width: 217px;
  background-color: #a8f387;
  z-index: 8;
}


.purple {
  top: 211px;
  left: 217px;
  height: 217px;
  width: 217px;
  background-color: #af87ce;
  z-index: 11;
  border: 5px solid rgba(250,250,250);
}


.blue {
  top: 0;
  left: 22px;
  height: 381px;
  width: 381px;
  background-color: #16d6fa;
  z-index: 8;
}


@media screen and (max-width: 1080px) {

  .logoHolder {
    width: 400px;
    height: 300px;
    justify-self: end;
  }
  .circle {
    font-size: 2rem;
  }
  
  
  
  
  .yellow {
    top: 154px;
    left: 64px;
    height: 225px;
    width: 225px;
  }
  
  
  .red {
    top: 22px;
    left: 118px;
    height: 265px;
    width: 265px;
  }
  
  .green {
    top: 122px;
    left: 0;
    height: 171px;
    width: 171px;
  
  }
  
  
  .purple {
    top: 167px;
    left: 171px;
    height: 173px;
    width: 173px;
  
  }
  
  
  .blue {
    top: 0;
    left: 17x;
    height: 309px;
    width: 309px;
  }
  
    
}


@media screen and (max-width: 850px) {

  .logoHolder {
    display: none;
  } 
}


@media screen and (max-height: 400px) {

  .logoHolder {
    display: none;
  } 
}